@font-face {
    font-family: "YellowTail";
    src: url('../assets/fonts/Yellowtail-Regular.ttf');
}

page-home {
  
ion-navbar.toolbar {
    min-height: 60px;
    text-align: center;
    .toolbar-background{
        background-color:rgb(125,206,160);
    }

    ion-title .toolbar-title{
        font-family: "YellowTail"!important;
        font-size:30px;
        color:#fff;
    }
}

.chartWrapper{
    position:relative;
    width:100%;

    #myChart{
        width:343px; 
        height:300px;
    }

    #dollar{
        font-size:195px;
        position: absolute;
        width:100%;
        height:300px;
        color:rgb(125,206,160);

        top:0;
        
        text-align: center;


        &.hide{
            display:none;
        }
        .text{
            font-size:20px;
            color:#000;
        }
    }
}
    
    ion-item{
        padding:0px;
        &.item-ios{
            padding:0px;

        }
        input{
            text-align: center;
            padding:0;
        }
    }

#totalWrapper{
    height:50px;
 #total{
     
    &.hidden{
        display:none;

    }

    &.visible{
        display:block;
    }
    
    .yearsOrMonths{
        margin-top:10px;
        color:rgb(125,206,160);
        font-size:20px;
    }
}
}

ion-footer{
    padding:0px;
    height:60px;
    // bottom:50px;
    button{
        &.button-md-secondary{
            width:100%;
            margin:0;
            height:100%;
            background-color:rgb(125,206,160);
            border-radius: 0px;
        
            &:hover{
                background-color:rgb(125,206,160);
    
            }
        }
        &.button-ios{
        
            width:100%;
            margin:0;
            height:100%;
            background-color:rgb(125,206,160);
            border-radius: 0px;

            &:hover{
                background-color:rgb(125,206,160);
    
            }    
        }

    }

    
}
.googleBanner{
    height:50px;
    width: 100%;
    background-color: #000;
    position: absolute;
    bottom:0;
}
}
